[submodule "External/Dependencies/sqlite_amalgamation"]
	path = External/Vendor/SQLiteAmalgamation
	url = https://github.com/azadkuh/sqlite-amalgamation
[submodule "External/Dependencies/GLFW"]
	path = External/Vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "External/Dependencies/ImGui"]
	path = External/Vendor/ImGui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "External/Dependencies/GLM"]
	path = External/Vendor/GLM
	url = https://github.com/g-truc/glm
[submodule "External/Dependencies/stb"]
	path = External/Vendor/stb
	url = https://github.com/nothings/stb
[submodule "External/Vendor/spdlog"]
	path = External/Vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "External/Vendor/cpython"]
	path = External/Vendor/cpython
	url = https://github.com/python/cpython
[submodule "External/Vendor/GLAD"]
	path = External/Vendor/GLAD
	url = https://github.com/Dav1dde/glad
